<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{{hero.name}}</title>
</head>
<body>
<p>Hero Name: {{hero.name}}</p><br>
<p>Alter Ego: {{hero.alter_ego}}</p><br>
<p>Primary Ability: {{hero.primary_ability}}</p><br>
<p>Secondary Ability: {{hero.secondary_ability}}</p><br>
<p>Catchphrase: {{hero.catchphrase}}</p>
<a href="{% url 'hero_app:index' %}">Go back</a>
</body>
</html>